html {
	font-size: 100%;
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 1.2rem;
	line-height: 1.8rem;
}

#viewport-container {
	width: 1vw;
	height: 1vh;
	display: flex;
	align-items: center;
}

#loader-container {
	width: 0.2vw;
	min-width: 10rem;
	aspect-ratio: 1;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;
}

/*
 * Modified from #1 at https://css-loaders.com/glowing/
 */
.loader {
  max-width: 0.7vw;
  aspect-ratio: 1;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 50%;
  box-sizing: border-box;
  position: relative;
  mask: conic-gradient(#000 0 0) content-box exclude,conic-gradient(#000 0 0);
  filter: blur(12px);
}
.loader:before {
  content: "";
  position: absolute;
  inset: 0;
  background: repeating-conic-gradient(#0000 0 5%,#C02942,#0000 20% 50%);
  animation: l2 1.5s linear infinite;
}
@keyframes l2 {
  to {rotate: 1turn}
}
